{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // Configurs transpiler to allow the latest JS features
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"]
}